* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
	--brand: #ee82ee;
	--bg: #202125;
	--bg-input: #adadad;
	--text: #f1f1f1;
	--text-secondary: #a3a3a3;
	--title-h1: #f6ebff;
	--text-placeholder: black;
	--link-hover: rgb(255, 77, 77);
	--underline-error: #ff6565;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	width: 100vw;
	height: 100vh;
}

body {
	font-size: 1.6rem;
	background: var(--bg);
	color: var(--text);
	font-family: 'DM Sans', sans-serif;
	text-align: center;
	overflow: hidden;
}

.wrapper-container {
	width: min(50rem, 100%);
	margin-inline: auto;
	padding-inline: 2.4rem;
}

img {
	max-width: 100%;
	height: 100%;
}
